.fm {

    background-color: white;;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(247, 111, 0);
    display: flex !important;
    flex-direction:  column;
    justify-content:  center;
    height: 300px;
    max-width: 800px;
    width: 800px;
    margin: auto;
    margin-left: 900px;
    margin-top: 400px;
    
    
}
.FP{
    height: 3em; 
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    margin-left: 50px;
    margin-top: -90px;
    color: orange;
    font-size: 30px;
}
.ea{
    height: 3em; 
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    margin-top: -70px;
    margin-left: -550px;
    color: gray;
    font-size: 30px;
}

.ttt{
    box-shadow: 0 0.188em 1.550em rgb(247, 111, 0);
    border: orange;
    background-color: white;
    height: 3em;
    width: 450px;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    margin-top: 10px;
    margin-left: 50px; 
}


.ttt:focus {
    outline-color: rgb(111, 155, 222);
}
.src {
        
    box-shadow: 0 0.188em 1.550em rgb(247, 111, 0);
    border: rgb(184, 89, 11);
    background-color:orange;
    height: 3em;
    width: 180px;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    margin-top: -55px;
    margin-left: 550px; 
    color: white;
    }
